.plus-icon{
  background: url("img/iconmonstr-plus-6.svg") no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
}

.minus-icon{
  background: url("img/iconmonstr-minus-6.svg") no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
}

.my-text{
  /*font-family: "Verdana";*/
  font-size: 18px;
  font-weight: normal;
}

.my-h5{
  /*font-family: "Verdana";*/
  font-size: 20px;
  font-weight: bold;
}

.my-h6{
    /*font-family: "Verdana";*/
    font-size: 18px;
    font-weight: bold;
}

#mapid { height: 400px;

 }

.icon-rss {
  height: 50px;
  opacity: 1;
  margin: auto;
  display: block;
}

.icon-rss:hover {
  opacity: .5;
}
.icon-logo {
  height: 50px;
  opacity: 1;
  margin: auto;
  display: block;
}

.icon-logo:hover {
  opacity: .5;
}

body{
  background: url("img/beach.jpg") repeat;
}

.section{
  padding-top: 100px;
  padding-bottom: 0px;
}

.contact-section{
  padding-top: 50px;
  padding-bottom: 20px;
}

#portrait {
  width: 150px;
  border-radius: 100px;
}

#sport {
  background: url("img/ski.jpg") no-repeat;
  background-size: 150px;
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

#sport:hover {
  background: url("img/diving.jpg") no-repeat;
  background-size: 150px;

}

.bg-footer{
  background-color:  #c0392b;
}

.bg-odd{
  /*background: url("img/beach.jpg") repeat;*/

  /*background-color: #d6eaf8;*/
}

.bg-even{
  /*background: url("img/beach.jpg") repeat;*/

  /*background: url("img/cloud.jpg") repeat;*/

  /*background-color:   #d1f2eb;*/
}
