.icon {
  height: 50px;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;

}

#portrait {
  width: 150px;
  border-radius: 100px;
}

#sport {
  background: url("img/ski.jpg") no-repeat;
  background-size: 150px;
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

#sport:hover {
  background: url("img/diving.jpg") no-repeat;
  background-size: 150px;

}

.bg-footer{
  background-color:  #c0392b;
}

.bg-odd{
  background-color: #d6eaf8;
}

.bg-even{
  background-color:   #d1f2eb;
}
