.plus-icon{
  background: url("img/iconmonstr-plus-6.svg") no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
}

.minus-icon{
  background: url("img/iconmonstr-minus-6.svg") no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
}

.showcase-image{
  background: url("img/railmap.png") no-repeat;
  background-size: 150px;
  margin-left: 10px;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.showcase-image:hover {
  opacity: .5;
}

.my-text{
  /*font-family: "Verdana";*/
  font-size: 18px;
  font-weight: normal;
}

.my-h5{
  /*font-family: "Verdana";*/
  font-size: 20px;
  font-weight: bold;
}

.my-h6{
    /*font-family: "Verdana";*/
    font-size: 18px;
    font-weight: bold;
}

#mapid { height: 400px;

 }

.icon-rss {
  height: 50px;
  opacity: 1;
  margin: auto;
  display: block;
}

.icon-rss:hover {
  opacity: .5;
}

.icon-logo {
  height: 50px;
  opacity: 1;
  margin: auto;
  display: block;
}

.icon-logo:hover {
  opacity: .5;
}

body{
  background: url("img/beach_2.jpg") repeat;
}



.section{
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 0px;
}

#about {
  margin-top: 40px;
  padding-top: 60px;
  padding-bottom: 0px;
}


#contact{
  padding-top: 10px;
  padding-bottom: 10px;
}

#portrait {
  background: url("img/me.jpg") no-repeat;
  background-size: 150px;
  margin-left: 10px;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

#sport {
  background: url("img/ski.jpg") no-repeat;
  background-size: 150px;
  margin-right: 10px;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

#sport:hover {
  background: url("img/diving.jpg") no-repeat;
  background-size: 150px;

}

.bg-footer{
  background-color:  #b30000;
}

.language-cirlce{
  height: 10px;
  width: 10px;
  /*float: right;*/

}